# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# env files
.env
.env.local
.env*.local
data/subscribers.json

# debug
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
.vercel
